{{outlet}}
<p style="text-align:center; margin-top:30px;">Welcome to Cranberry's wonderful crate!</p>
<img src="/assets/images/cranberry_fruit.jpg" style="max-width:80%; display: block; margin:auto" />